@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Macondo&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
  background-color: rgb(255, 251, 255);
  color: #fff;
  font-family: "Exo", sans-serif;
  max-width: 800px;
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
}
